################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/git/v16
*.pdf
*.xsc
*.xsd
Logiciel Devis-Facture/.vs/Logiciel Devis-Facture/v16/.suo
Logiciel Devis-Facture/.vs/Logiciel Devis-Facture/v16/.suo
*.cache
*.cache
*.cache
