################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Logiciel Devis-Facture/bin/Debug/Logo/LogoEntreprise.png
